@model IEnumerable<EmployeePortal.Models.EmployeeModel>

@{
    ViewData["Title"] = "Index";
}

<h2 style="margin-top:20px;">Employees List</h2>

<p>
    <button type="button" class="top-right-button" onclick="location.href='@Url.Action("Create")'">Create New</button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmpId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Team)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JoiningDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmpId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Team)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Project)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JoiningDate)
            </td>
            <td>
                @* @Html.ActionLink("Edit", "Edit", new { id=item.EmpId /* id=item.PrimaryKey */ }) | *@
                    <button type="button" class="small-edit-btn" onclick="location.href='@Url.Action("Edit", new { id = item.EmpId })'">
                        Edit
                    </button>
                    <button type="button" class="small-details-btn" onclick="location.href='@Url.Action("Details", new { id = item.EmpId })'">
                        Details
                    </button>
                    <button type="button" class="small-delete-btn" onclick="location.href='@Url.Action("Delete", new { id = item.EmpId })'">
                        Delete
                    </button>
                  @*   @Html.ActionLink("Details", "Details", new { id = item.EmpId /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.EmpId  /* id=item.PrimaryKey */ }) *@
            </td>
        </tr>
}
    </tbody>
</table>
